@model IEnumerable<FoodApp2.Models.RestaurantReviewModel>

@{
    ViewBag.Title = "Latest Reviews";
    //var firstReview = Model.First();
}

@* firstReview.Name  Variable in a Code Block *@

<h2>@ViewBag.Title</h2>

We are showing the latest @Model.Count() reviews

@foreach(var item in Model)
{
    // Code blocks can have both HTML and CSS
    @:Review @* Literal Text *@
    <div class="review">
        <h4>@item.Name</h4>
        <span>@item.Rating</span>
        <p>@item.City, @item.Country</p>
    </div>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>